body {
  background: linear-gradient(135deg, #7aa5b8, #9fcbda, #7db9d3);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 400px;
  height: 500px;
  margin: 60px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  flex-direction: column;
  overflow: hidden;
  display: flex;
  text-align: center;
}

.search-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 0.1;
  padding: 1px;
}

button {
  padding: 8px 14px;
  background: #2563eb;
  color: rgb(255, 3, 3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.weather-card {
  margin-top: 5px;
}

.temp {
  font-size: 36px;
  font-weight: bold;
}

.error {
  color: red;
  margin-top: 10px;
}

/* .loader {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #2563eb;
  border-radius: 50%;
  animation: spin 1s linear infinite;
} */

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.location-btn {
  margin-top: 10px;
  background: #059669;
}

.app {
  min-height: 100vh;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app.light {
  background: linear-gradient(135deg, #e0eafc, #cfdef3);
}

.app.light .container {
  background: #ffffff;
  color: #131212;
}

.app.dark {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.app.dark .container {
  background: #111827;
  color: #ffffff;
}

.theme-btn {
  margin-bottom: 10px;
  background: #6b7280;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.theme-btn:hover {
  opacity: 0.9;
}

.weather-content {
  flex: 1;
  overflow-y: auto;
  text-align: center;
}
